import React from 'react';

interface I{{pascalCase name}}Props {
	id: string;
}

export const {{pascalCase name}} = (props: I{{pascalCase name}}Props) => {
	return (
		<div>
			{{pascalCase name}}
		</div>
	);
};
